:root {
    --bb-bg-nav: #1E1E1E;
    --bb-pink: #F02666;
    --bb-green: #32806F;
    --bb-fluo: #64FF4F;
    --bb-blue: #3B86E9;
    --bb-salmon: #FF8A8A;
    --bb-purple: #8955FC;
    --bb-grey: #2E2E2E;
    --bb-red: #ED2D45;
    --bb-white: #FFFFFF;
    --bb-black: #000000;
}
