@font-face {
    font-family: 'Dogica';
    src: url(../../fonts/OTF/dogica.otf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VHSGothic';
    src: url(../../fonts/VHSGhotic/vhs-gothic.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}


